//
// Mixins
// @copyright Grupo Premiere 360
// @author @xrgranados
//------------------------------------------------------------------------------

@import "mixins/border-radius.less";
@import "mixins/filters.less";
@import "mixins/flexbox.less";
@import "mixins/gradients.less";
@import "mixins/image.less";
@import "mixins/shadows.less";
@import "mixins/size.less";
@import "mixins/text.less";
@import "mixins/vendor-prefixes.less";

.transform(@trans) {
  -webkit-transform: (@trans);
     -moz-transform: (@trans);
      -ms-transform: (@trans);
       -o-transform: (@trans);
          transform: (@trans);
}

.text-shadow(@h-shadow: 1px, @v-shadow: 1px, @blur: 5px, @color: rgba(0,0,0,0.5)) {
  text-shadow: @h-shadow @v-shadow @blur @color
}

.inner-shadow(@h-shadow: 1px, @v-shadow: 1px, @radius-shadow: 5px, @radius-prorogation: 5px, @color: rgba(0,0,0,0.5)) {
  -webkit-box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color,
    inset -@h-shadow -@v-shadow @radius-shadow @radius-prorogation @color;
  -moz-box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color,
    inset -@h-shadow -@v-shadow @radius-shadow @radius-prorogation @color;
  box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color,
    inset -@h-shadow -@v-shadow @radius-shadow @radius-prorogation @color;
}

.shadow(@h-shadow: 1px, @v-shadow: 1px, @radius-shadow: 5px, @radius-prorogation: 5px, @color: rgba(0,0,0,0.5)) {
  -webkit-box-shadow:  @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
  -moz-box-shadow:  @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
  box-shadow:  @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
}

.inner-shadow-simle(@h-shadow: 1px, @v-shadow: 1px, @radius-shadow: 5px, @radius-prorogation: 5px, @color: rgba(0,0,0,0.5)) {
  -webkit-box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
  -moz-box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
  box-shadow: inset @h-shadow @v-shadow @radius-shadow @radius-prorogation @color;
}

._flex {
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -moz-box;
  display: flex;
}

// End of file mixins.less
// Location: ./assets/less/theme/mixins.less
