// Utitlities
// Author @xrgranados

// makes a circle a square box
.circle {
  .border-radius(50%);
}

// Generates the class .radius-(n), border-radius to apply to the element (5px)
.generate-radius(@n, @i: 1) when (@i =< @n) {
  @name: (@i * 5);
  .radius-@{name} {
    .border-radius(@i * 5px);
  }
  .generate-radius(@n, (@i + 1));
}

.generate-radius(5);

// Generates the class .height-(n), height to apply to the element (10px)
.generate-heigth(10);
.generate-heigth(@n, @i: 1) when (@i =< @n) {
  @name: (@i * 10);
  .height-@{name} {
    height: (@i * 10px);
  }
  .generate-heigth(@n, (@i + 1));
}


// Eliminates the float property
.float-none {
  float: none;
}

// Add position absolute property
.absolute {
  position: absolute;
}

// Add position relative property
.relative{
  position: relative;
}

.no-display {
  display: none !important;
}

// Show grid Bootstrap
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  border: 0 solid #ccc;
  border-top-width: 1px;
  clear: both;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}
