- var site_name = "xrgranados.github.io"
- var title = "Rafael Granados :: Web developer"
- var theme_color = ""
- var description = "Desarrollo web, diseño, marketing, frontend, backend, móvil, UX, usabilidad"

head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Rafael Granados :: @xrgranados

  meta(property='og:title', content='#{title}')
  meta(property='og:site_name', content='#{site_name}')
  meta(property='og:description', content='#{description}')
  meta(property='og:type', content='website')
  meta(property='og:image', content='ARTICLE_IMAGE_URL')
  meta(property='og:url', content='xrgranados.github.io')

  link(type='text/plain', rel='author', href='humans.txt')
  link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/css/font-awesome.min.css')
  link(rel='stylesheet', href='assets/css/style.css')