---
// src/pages/index.astro
import BaseLayout from '@layouts/BaseLayout.astro';
import Nav        from '@components/Nav.astro';
import Hero       from '@components/Hero.astro';
import About      from '@components/About.astro';
import Work       from '@components/Work.astro';
import Contact    from '@components/Contact.astro';
import Footer     from '@components/Footer.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Work />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
